body {
    background-color: #b8b8bb;
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

.nav-bar {
    background-color: darkslategray;
    overflow: hidden;
    margin-top: 0;
}

.nav-bar a {
    display: block;
    padding: 40px;
    float: left;
    text-align: center;
    padding: 14px 17px;
    font-weight: bold;
    font-size: 15px;
    height: 20px;
}

.nav-stack {
    display: block;
    /* padding: 40px; */
    float: right;
    text-align: center;
    padding: 14px 17px;
    font-weight: bold;
    font-size: 15px;
    height: 20px;
}

.nav-bar a:hover {
    background-color: rgb(27, 48, 48);
}

.active {
    background-color: rgb(27, 48, 48);
    height: 20px;
}

.nav-bar .icon {
    display: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h2 a {
    color: black;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.questions-asked {
    border: 1px solid darkslategray;
    margin-top: 5%;
}

.ans-given {
    border: 1px solid darkslategray;
    margin-top: 5%;
}

.wrap {
    display: flex;
    margin-top: 10%;
}

.wrap > .recent {
    border: 1px solid darkslategray;
    margin-right: 5%;
}

.wrap > .top {
    border: 1px solid darkslategray;
}

footer {
    margin-top: 10%;
}

@media screen and (max-width: 600px) {
    .content {
        width: 450px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 622px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .content {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .content {
        width: 350px;
    }
}