<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/answer_question.css">
    <script src="../scripts/home.js"></script>
    <title>StackOverflow-lite</title>
</head>

<body>
    <div class="nav-bar">
        <div class="topnav" id="myTopnav">
            <a href="home.html" class="active">Home</a>
            <a href="questions.html">My Questions</a>
            <a href="answers.html">Answers</a>
            <a href="profile.html">Profile</a>
            <a href="contact.html">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction(this)">
                <div class="container" onclick="">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="flex-container">
            <input type="text" name="add-answer" placeholder="Answer Question">
            <button href="questions.html">Answer</button>
        </div>
    </div>
    <footer>
        StackOverflow-lite Inc.
    </footer>
</body>

</html>