<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/questions.css">
    <script src="../scripts/home.js"></script>
    <title>StackOverflow-lite</title>
</head>

<body>
    <div class="nav-bar">
        <div class="topnav" id="myTopnav">
            <a href="home.html">Home</a>
            <a href="questions.html">My Questions</a>
            <a href="answers.html" class="active">Answers</a>
            <a href="profile.html">Profile</a>
            <a href="contact.html">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction(this)">
                <div class="container" onclick="">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="question">
            <div>
                <div class="label">
                    <h2>
                        <label>
                            How can I add a coveralls badge to my github repository?
                        </label>
                    </h2>
                </div>
                <div class="wrap">
                    <div id="button">
                        <button>
                            <img src="../Icons/like.png" alt="Accept Answer">
                        </button>
                    </div>
                    <div class="paragraph">
                        Please visit the coveralls website and get all the information you need because they have very nice documentation.
                    </div>
                </div>
                <div class="wrap">
                    <div id="button">
                        <button>
                            <img src="../Icons/like.png" alt="Accept Answer">
                        </button>
                    </div>
                    <div class="paragraph">
                        Make sure you have a coveralls.yml file containing your repo token as well as a .coveragerc file that has files that ought
                        to be omitted once the tests are done running.
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div>
                <div class="label">
                    <h2>
                        <label>
                            How do I start learning how to code?
                        </label>
                    </h2>
                </div>
                <div class="wrap">
                    <div id="button">
                        <button>
                            <img src="../Icons/like.png" alt="Accept Answer">
                        </button>
                    </div>
                    <div class="paragraph">
                        You should start by first understanding the basics of computer science such as data structures, algorithms and things of
                        the like then find the best way for you to learn. Find out if you learn better from video tutorials
                        or documentations and get as many resources as you can based on that.
                    </div>
                </div>
                <div class="wrap">
                    <div class="paragraph">
                        Please visit
                        <a href="https://prettyprinted.com">prettyprinted.com</a>and check out some courses.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        StackOverflow-lite Inc.
    </footer>
</body>

</html>