<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/contact.css">
    <script src="home.js"></script>
    <title>StackOverflow-lite</title>
</head>

<body>
    <div class="nav-bar">
        <div class="topnav" id="myTopnav">
            <a href="home.html">Home</a>
            <a href="questions.html">My Questions</a>
            <a href="answers.html">Answers</a>
            <a href="profile.html">Profile</a>
            <a href="contact.html" class="active">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction(this)">
                <div class="container" onclick="">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="contacts">
            <p>Click the icons below to reach out on any platform</p>
        </div>
        <div class="wrap">
            <a href="#">
                <img src="../Icons/facebook-icon.png" alt="facebook icon">
            </a>
            <a href="">
                <img src="../Icons/twitter.png" alt="twitter icon">
            </a>
            <a href="">
                <img src="../Icons/instagram.png" alt="instagram icon">
            </a>
            <a href="">
                <img src="../Icons/gmail.png" alt="gmail icon">
            </a>
        </div>
    </div>
</body>

</html>