<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/home.css">
    <script src="../JS/home.js"></script>
    <title>StackOverflow-lite</title>
</head>

<body>
    <div class="nav-bar">
        <div class="topnav" id="myTopnav">
            <a href="home.html" class="active">Home</a>
            <a href="questions.html">My Questions</a>
            <a href="answers.html">Answers</a>
            <a href="profile.html">Profile</a>
            <a href="contact.html">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction(this)">
                <div class="container" onclick="">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="content">
        <div>
            <a href="questions.html">
                <button>Ask a Question</button>
            </a>
        </div>
        <div class="question">
            <label>
                <h2>
                    <a href="more_answers.html">How can I add a coveralls badge to my github repository?</a>
                </h2>
            </label>
            <p>I advise that you visit
                <a href="https://coveralls.io/" target="_blank">the coveralls website</a> and look through their documentaton because I find it very detailed and useful
                enough.
            </p>
            <div class="flex-container">
                <a href="answer_question.html">
                    <button id="answer-btn">Answer</button>
                </a>
                <a href="more_answers.html">
                    <button id="answer-btn">View more answers</button>
                </a>
            </div>
        </div>
        <div class="question">
            <label>
                <h2>
                    <a href="answers.html">What can I do in case my travis-ci shows passing via the travis-ci website but shows unknown in the markdown
                        badge.
                    </a>
                </h2>
            </label>
            <p>The problem could be the cache memory for that page that keeps holding onto the badge results from the previous
                build. This can be solved by deleting the cache or hard-resetting the page data using these controls:
                <br>
                <code>Ctrl + Shift + R</code>
            </p>
            <div class="flex-container">
                <a href="answer_question.html">
                    <button id="answer-btn">Answer</button>
                </a>
                <a href="more_answers.html">
                    <button id="answer-btn">View more answers</button>
                </a>
            </div>
        </div>
        <div class="question">
            <label>
                <h2>
                    <a href="more_answers.html">How can I add a coveralls badge to my github repository?</a>
                </h2>
            </label>
            <p>I advise that you visit
                <a href="https://coveralls.io/" target="_blank">the coveralls website</a> and look through their documentaton because I find it very detailed and useful
                enough.
            </p>
            <div class="flex-container">
                <a href="answer_question.html">
                    <button id="answer-btn">Answer</button>
                </a>
                <a href="more_answers.html">
                    <button id="answer-btn">View more answers</button>
                </a>
            </div>
        </div>
    </div>
    <footer>
        StackOverflow-lite Inc.
    </footer>
</body>

</html>