<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profile.css">
    <script src="home.js"></script>
    <title>StackOverflow-lite</title>
</head>

<body>
    <div class="nav-bar">
        <div class="topnav" id="myTopnav">
            <a href="home.html">Home</a>
            <a href="questions.html">My Questions</a>
            <a href="answers.html">Answers</a>
            <a href="profile.html" class="active">Profile</a>
            <a href="contact.html">Contact</a>
            <a href="about.htlm">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction(this)">
                <div class="container" onclick="">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="questions-asked">
            <h2>
                NO. OF QUESTIONS ASKED
            </h2>
            <p>
                02
            </p>
        </div>
        <div class="ans-given">
            <h2>
                NO. OF ANSWERS GIVEN
            </h2>
            <p>
                05
            </p>
        </div>
        <div class="wrap">
            <div class="recent">
                <h3>
                    RECENT QUESTIONS
                </h3>
                <ul>
                    <li>What is Computer Science?</li>
                    <li>What does MVC mean?</li>
                </ul>
            </div>
            <div class="top">
                <h3>
                    TOP QUESTION
                </h3>
                <ul>
                    <li>How can I add a coveralls badge to my github repository?</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        StackOverflow-lite Inc.
    </footer>
</body>

</html>