<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/questions.css">
    <script src="home.js"></script>
    <title>StackOverflow-lite</title>
</head>

<body>
    <div class="nav-bar">
        <div class="topnav" id="myTopnav">
            <a href="home.html">Home</a>
            <a href="questions.html" class="active">My Questions</a>
            <a href="answers.html">Answers</a>
            <a href="profile.html">Profile</a>
            <a href="contact.html">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction(this)">
                <div class="container" onclick="">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="flex-container">
            <input type="text" name="add-question" placeholder="Ask a question">
            <button href="questions.html">Ask</button>
        </div>
        <div class="question">
            <h2>
                <a href="answers.html">How can I add a coveralls badge to my github repository?</a>
            </h2>
            <a href="answers.html">
                <button>View Answers</button>
            </a>
            <button id="delete-btn" href="#">Delete Question</button>
        </div>
        <div class="question">
            <h2>
                <a href="answers.html">How do I start learning how to code?</a>
            </h2>
            <a href="answers.html">
                <button>View Answers</button>
            </a>
            <button id="delete-btn" href="#">Delete Question</button>
        </div>
        <div class="question">
            <h2>
                <a href="answers.html">What is Computer Science?</a>
            </h2>
            <a href="answers.html">
                <button>View Answers</button>
            </a>
            <button id="delete-btn" href="#">Delete Question</button>
        </div>
        <div class="question">
            <h2>
                <a href="answers.html">How much does a developer at Andela earn?</a>
            </h2>
            <a href="answers.html">
                <button>View Answers</button>
            </a>
            <button id="delete-btn" href="#">Delete Question</button>
        </div>
    </div>
    <footer>
        StackOverflow-lite Inc.
    </footer>
</body>

</html>