<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/main.css">
    <title>StackOverflow-lite</title>
</head>

<body>
    <div class="content">
        <div class="heading">
            <h1>StackOverflow-lite</h1>
            <h2>Ask a question, get an answer</h2>
        </div>
        <div>
            <form action="home.html">
                <div id="user-name">
                    <label>Username</label>
                    <input type="text" name="first_name" placeholder="Username" required>
                </div>
                <div class="password-field">
                    <label>Enter a password</label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="submitBtn">
                    <button type="submit">SIGN IN</button>
                </div>
            </form>
        </div>
        <div>
            <p>Don't have an account?
                <a href="../index.html">Register</a>
            </p>
        </div>
    </div>
</body>

</html>